@model MyWebApp.Models.MusicModel.Music;
@{
    ViewData["Title"] = "Edit";
}

<h1>@ViewData["Title"]</h1>
<form method="POST" asp-controller="Home" asp-action="Edit">
    <div class="form-grop my-4">
        <label asp-for="MusicName"></label>
        <input type="text" asp-for="MusicName" class="form-control">
        <span class="text-danger" asp-validation-for="MusicName"></span>
    </div>
    <div class="form-grop my-4">
        <label asp-for="MusicGenre"></label>
        <input type="text" asp-for="MusicGenre" class="form-control">
        <span class="text-danger" asp-validation-for="MusicGenre"></span>
    </div>
    <div class="form-grop my-4">
        <label asp-for="MusicDuration"></label>
        <input type="number" asp-for="MusicDuration" class="form-control">
        <span class="text-danger" asp-validation-for="MusicDuration"></span>
    </div>
    <button type="submit" class="btn btn-primary my-2">Update</button>
</form>